@media (max-width: 600px) {
    main {
        width: 350px;
        height: 500px;
    }

    #login {
        padding: 2px;
        margin-left: -17px;
        z-index: 1;
    }

    main form {
        flex-direction: column;
    }
}