* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

/*sweet alert*/
body.swal2-shown > [aria-hidden="true"] {
    transition: 0.1s filter;
    filter: blur(10px);
  }
  

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    height: 100vh;
    width: 100vw;

    background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);
}

main {
    background: linear-gradient(90deg, #4b6cb7 0%, #182848 100%);
    border-radius: 1%;
    border-bottom-right-radius: 10%;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;

    display: flex;
    align-items: center;
    justify-content: center;
    width: 500px;
    height: 400px;
}

main form {
    color: white;
    display: flex;
    font: normal normal bold 16px 'Montserrat', sans-serif;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#login {
    padding: 20px;
}

#login .email{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

#login .password {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.input {
    padding: 10px 30px;
    border: none;
    outline: none;
    border-radius: 15px;
    position: relative;
    margin-top: 5px;
    margin-bottom: 10px;
}

.input:focus {
    background-color: rgb(236, 236, 236);
    color: black;
}

.button {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button button {
    border-radius: 10px;
    border: none;
    outline: none;
    width: 70%;
    padding: 8px 1px 8px 5px;
    margin-top: 10px;
}

.button-login button{
    background-image: linear-gradient(62deg, #77797d 0%, #474749 100%);
    cursor: pointer;
    background-repeat: no-repeat;
    background-size: 0% 100%;
    transition: background-size 0.6s;
    background-position-x: right;

}

.button-login button:hover {
    background-image: linear-gradient(62deg, #77797d 0%, #474749 100%);
    background-size: 100% 100%;
    background-position-x: left;
    color: white;
}

.button-login button[disabled]:hover {
    background: #d1d1d11c;
    color: #d1d1d11c;;
}

.button-options button {
    padding: 1px 1px 1px 1px;
    width: 50%;
}

button.visibily {
    width: 24px;
    height: 24px;
    position: absolute;
    top:45%;
    right: 10px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    outline: none;
}

#register {
    margin-left: 10px;
    padding: 10px;
    font-weight: bold;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;

    transition-duration: 0.4s;
}

#register:hover {
    background-color: #dadadad7;
}

ion-icon {
    font-size: 17px;
}

#icon-email {
    position: absolute;
    z-index: 1;
    top: 39%;
    left: 1%;
}

#img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} 

#img h2 {
    padding-bottom: 10px;
}

#img img {
    animation-name: float-img;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    transform: translateY(0px); 
}

@keyframes float-img {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(24px);
    }

    100% {
        transform: translateY(0px);
    }
}

.error {
    display: none;
    color: red;
    position: absolute;
    top: -20px;
}

#email-invalid-error {
    top: -35px;
    position: absolute;
}

#password-required-error {
    top: 59px;
    left: 10px;
    position: absolute;
    font-size: 13px;
}



#loading {
    background-color: #474749a2;
    position: fixed;
    width: 100vw;
    height: 100vh;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 2;
    flex-direction: column;
}

#loading label {
    color: white;
    font: normal italic bold 18px 'Poppins', sans-serif;
}

.user-mensage {
    display: none;
    border-radius: 10px;
    top: 10px;
    position: fixed;
    background-color: rgba(209, 4, 4, 0.63);
    padding: 30px;
    color: white;
}


/*********************/
.button-google:hover {
    background-color: none;
    background-size: 0% 0%;
}

.google-btn {
    margin-top: 5px;
    margin-left: 23px;
    width: 18%;
    min-width: 42px;
    max-width: 182px;
    height: 42px;
    background-color: #fcfcfcfb;
    border-radius: 2px;
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, .2);
    cursor: pointer;
    cursor: hand;
    align-self: center;
    user-select: none;
    transition: all 400ms ease 0s;
    display: flex;
}
.google-btn button .google-icon-wrapper {
    position: absolute;
    margin-top: 1px;
    margin-left: 1px;
    width: 40px;
    height: 40px;
    border-radius: 2px;
    user-select: none
}
.google-btn .google-icon-svg {
    position: absolute;
    margin-top: -5px;
    margin-left: 7px;
    width: 18px;
    height: 18px;
    user-select: none
}
.google-btn .btn-text button {
    float: right;
    margin: 11px 14px 40px 40px;
    color: #757575;
    font-size: 14px;
    letter-spacing: .2px;
    font-family: Roboto;
    user-select: none;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}


.google-btn:hover {
    box-shadow: 0 3px 8px rgba(117, 117, 117, .5);
    opacity: 0.9;
    user-select: none;
}
.google-btn:active {
    box-shadow: 0 1px 1px #757575;
    background: #F8F8F8;
    color: #fff;
    user-select: none
}

.normal-btn {
    margin: 25px;
    width: auto;
    display: inline-block;
    min-width: auto;
    max-width: 184px;
    height: 42px;
    background-color: #fcfcfc;
    border-radius: 2px;
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, .2);
    cursor: pointer;
    cursor: hand;
    align-self: center;-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition: all 400ms ease 0s
}
.normal-btn .btn-text {
    float: left;
    margin: 11px 14px 11px 14px;
    color: #757575;
    font-size: 14px;
    letter-spacing: .2px;
    font-family: Roboto;
    user-select: none
}
.normal-btn:hover {
    box-shadow: 0 3px 8px rgba(117, 117, 117, .5);
    user-select: none
}
.normal-btn:active {
    box-shadow: 0 1px 1px #757575;
    background: #F8F8F8;
    color: #fff;
    user-select: none
}
