* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    height: 100vh;
    width: 100vw;

    background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);
}

main {
    background: linear-gradient(90deg, #4b6cb7 0%, #182848 100%);
    border-radius: 1%;
    border-bottom-right-radius: 10%;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;

    display: flex;
    align-items: center;
    justify-content: center;
    width: 500px;
    height: 400px;
}

.form {
    max-width: 350px;
    max-height: 350px;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

.form h2 {
    padding-bottom: 25px;
}

.label {
    padding-right: 71px;
}

.input {
    border-bottom-right-radius: 10px;
    margin-bottom: 4px;
    border: none;
    outline: none;
    padding: 5px;
}

#btn-register:disabled {
    background-image: linear-gradient(62deg, #75767717 0%, #47474952 100%);
    color: rgb(209, 209, 209);
    cursor: pointer;
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 5px;
}

#btn-register {
    background-image: linear-gradient(62deg, #77797d 0%, #474749 100%);
    color: white;
    cursor: pointer;
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 5px;
}

.error {
    display: none;
    border-radius: 5px;
    background-color: rgba(255, 0, 0, 0.473);
    margin-bottom: 10px;
}

#loading {
    background-color: #474749a2;
    position: fixed;
    width: 100vw;
    height: 100vh;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 2;
    flex-direction: column;
}

#loading label {
    color: white;
    font: normal italic bold 18px 'Poppins', sans-serif;
}

.user-mensage {
    display: none;
    border-radius: 10px;
    top: 10px;
    position: fixed;
    background-color: rgba(209, 4, 4, 0.63);
    padding: 30px;
    color: white;
}

.voltar-login {
    text-decoration: none;
    color: white;
    top: 23%;
    left: 85px;
}


