* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    height: 100vh;
    width: 100vw;

    background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);
}

main {
    background: linear-gradient(90deg, #4b6cb7 0%, #182848 100%);
    border-radius: 1%;
    border-bottom-right-radius: 10%;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;

    display: flex;
    align-items: center;
    justify-content: center;
    width: 500px;
    height: 400px;
}

.form {
    max-width: 350px;
    max-height: 350px;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

.form h2 {
    padding-bottom: 25px;
}

.label {
    padding-right: 71px;
}

.input {
    border-bottom-right-radius: 10px;
    margin-bottom: 4px;
    border: none;
    outline: none;
    padding: 5px;
}

#btn-register:disabled {
    background-image: linear-gradient(62deg, #75767717 0%, #47474952 100%);
    color: rgb(209, 209, 209);
    cursor: pointer;
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 5px;
}

#btn-register {
    background-image: linear-gradient(62deg, #77797d 0%, #474749 100%);
    color: white;
    cursor: pointer;
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 5px;
}

.error {
    display: none;
    border-radius: 5px;
    background-color: rgba(255, 0, 0, 0.473);
    margin-bottom: 10px;
}

#loading {
    background-color: #474749a2;
    position: fixed;
    width: 100vw;
    height: 100vh;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 2;
    flex-direction: column;
}

#loading label {
    color: white;
    font: normal italic bold 18px 'Poppins', sans-serif;
}

.user-mensage {
    display: none;
    border-radius: 10px;
    top: 10px;
    position: fixed;
    background-color: rgba(209, 4, 4, 0.63);
    padding: 30px;
    color: white;
}

.voltar-login {
    text-decoration: none;
    color: white;
    top: 23%;
    left: 85px;
}

.google-btn {
    margin-top: 5px;
    width: 80%;
    min-width: 184px;
    max-width: 184px;
    height: 42px;
    background-color: #fcfcfc;
    border-radius: 2px;
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, .2);
    cursor: pointer;
    cursor: hand;
    align-self: center;
    user-select: none;
    transition: all 400ms ease 0s;
    display: flex;
}
.google-btn .google-icon-wrapper {
    position: absolute;
    margin-top: 1px;
    margin-left: 1px;
    width: 40px;
    height: 40px;
    border-radius: 2px;
    user-select: none
}
.google-btn .google-icon-svg {
    position: absolute;
    margin-top: 11px;
    margin-left: 11px;
    width: 18px;
    height: 18px;
    user-select: none
}


.google-btn .btn-text button {
    float: right;
    margin: 11px 14px 40px 40px;
    color: #757575;
    font-size: 14px;
    letter-spacing: .2px;
    font-family: Roboto;
    user-select: none;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}


.google-btn:hover {
    box-shadow: 0 3px 8px rgba(117, 117, 117, .5);
    opacity: 0.9;
    user-select: none;
}
.google-btn:active {
    box-shadow: 0 1px 1px #757575;
    background: #F8F8F8;
    color: #fff;
    user-select: none
}

.normal-btn {
    margin: 25px;
    width: auto;
    display: inline-block;
    min-width: auto;
    max-width: 184px;
    height: 42px;
    background-color: #fcfcfc;
    border-radius: 2px;
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, .2);
    cursor: pointer;
    cursor: hand;
    align-self: center;-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition: all 400ms ease 0s
}
.normal-btn .btn-text {
    float: left;
    margin: 11px 14px 11px 14px;
    color: #757575;
    font-size: 14px;
    letter-spacing: .2px;
    font-family: Roboto;
    user-select: none
}
.normal-btn:hover {
    box-shadow: 0 3px 8px rgba(117, 117, 117, .5);
    user-select: none
}
.normal-btn:active {
    box-shadow: 0 1px 1px #757575;
    background: #F8F8F8;
    color: #fff;
    user-select: none
}


